# Database
POSTGRES_DB=developer_evaluation
POSTGRES_USER=developer
POSTGRES_PASSWORD=ev@luAt10n

# Connection String
DEFAULT_CONNECTION=Host=localhost;Port=5432;Database=developer_evaluation;Username=developer;Password=ev@luAt10n

# JWT
JWT_SECRET_KEY=YourSuperSecretKeyForJwtTokenGenerationThatShouldBeAtLeast32BytesLong

# MongoDB (optional - for future event store)
MONGO_INITDB_ROOT_USERNAME=developer
MONGO_INITDB_ROOT_PASSWORD=ev@luAt10n
